:root{
    --dar-color:#141415;
    --lighter-color:#62656a;
    --font-size:14px;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

a{
    text-decoration: none;
}

.header_top {
  width: 100%;
  height: 35px;
  background: rgb(244, 245, 245);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 3%;
}

.location-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.location-info button {
  display: flex;
  gap: 7px;
  align-items: center;
}

.location-info button svg {
  font-size: 16px;
}
.location-info button span{
  font-size:var(--font-size);
  color:var(--dar-color) ;
}

.location-info a{
    font-size: var(--font-size);
    color: var(--dark-color);
}

.header-right{
    display: flex;
    gap: 23px;
    align-items: center;
}

.savollar-buyurtmalar{
    display: flex;
    gap: 15px;
}

.savollar-buyurtmalar a{
    color: var(--lighter-color);
    font-size: var(--font-size);
}

.language {
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  font-size: var(--font-size);
  color: var(--lighter-color);
}

.flag {
  width: 25px;
  height: 25px;
}