:root{
    --dark-color:#141415;
    --lighter-color:#62656a;
    --font-size:14px;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
.hidden-header-p{
  display: none;
    font-family: 'Inter', sans-serif;
}

.header_top {
  width: 100%;
  height: 35px;
  background: rgb(244, 245, 245);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 3%;
}

.location-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.location-info button {
  display: flex;
  gap: 7px;
  align-items: center;
}

.location-info button svg {
  font-size: 16px;
}
.location-info button span,
.location-info a{
  font-size:var(--font-size);
  color:var(--dark-color) ;
    font-family: 'Inter', sans-serif;
}

.header-right{
    display: flex;
    gap: 23px;
    align-items: center;
}

.savollar-buyurtmalar{
    display: flex;
    gap: 15px;
}

.savollar-buyurtmalar a{
    color: var(--lighter-color);
    font-size: var(--font-size);
    font-family: 'Inter', sans-serif;
}

.savollar-buyurtmalar a:hover{
color:var(--dark-color);
}

.language {
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  font-size: var(--font-size);
  color: var(--lighter-color);
    font-family: 'Inter', sans-serif;
}

.flag {
  width: 25px;
  height: 25px;
}

@media (max-width: 950px) {
  .header_top .header-right, .location-info{
    display: none;
  }
 .hidden-header-p{
  display: block;
  margin: 0 auto;
  color: var(--lighter-color);
  font-size: var(--font-size);
 }
}
@media (max-width: 370px) {
 .hidden-header-p{
  text-align: center;
  font-size: 12px;
 }
}