.popular_products {
    width: 100%;
    background: #fffa;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.popular_products h2 {
    margin-left: 3%;
    color: #212121;
    font-weight: 500;

}

.scroll {
    width: 100%;
    padding: 5px 3%;
    display: flex;
    overflow-y: auto;
    margin-bottom: 80px;
}

.scroll::-webkit-scrollbar  {
    display: none;
}

.padd {
    padding: 0 3%;
    padding: 0 4%;
}

.scroll .scrool_bar .cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 265px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll .scrool_bar .cart .top_cart {
    width: 90%;
    height: 40vh;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.scroll .scrool_bar .cart .top_cart img {
    width: 100%;
    height: 100%;
    transition: .3s;
    border-radius: 15px;
}

.scroll .scrool_bar .cart .top_cart img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.scroll .scrool_bar .cart .top_cart .icon_heart {
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
}

.scroll .scrool_bar .cart .top_cart .icon_heart svg {
    color:#555;
    font-size: 19px;
    gap: 300px;
} 
.scroll .scrool_bar .cart .top_cart .icon_heart .heart_red {
    color: red;
    font-size: 17px;
}

.scroll .scrool_bar .cart .bottom_cart_data {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 90%;
}

.scroll .scrool_bar .cart .bottom_cart_data span {
    font-size: 15px;
    font-weight: 100;
    color: #2b2b2b;
}

.scroll .scrool_bar .cart .bottom_cart_data .card_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
}

.scroll .scrool_bar .cart .bottom_cart_data .card_price .left_price s {
    font-size: 12px;
    color: #424242;
    background: #fdfa4b;
    color: #f926dd;
}

.scroll .scrool_bar .cart .bottom_cart_data .card_price .left_price p {
    color: #222;
}


.scroll .scrool_bar .cart .bottom_cart_data .card_price .right_icon_shop {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #505050;
}

@media (max-width:555px) {
    .scroll .scrool_bar .cart {
        width: 400px;
    }
    
    
}

@media (max-width:425px) {
    .scroll .scrool_bar .cart {
        width: 300px;
    }
    .scroll .scrool_bar .cart .top_cart {
        height: 35vh;
    }
    
}

@media (max-width:435px) {
    .scroll .scrool_bar .cart {
        width: 260px;
    }
    .scroll .scrool_bar .cart .top_cart {
        height: 30vh;
    }
    .popular_products h2 {
        font-size: 20px;
    }
}

@media (max-width:300px) {
    .popular_products h2 {
        font-size: 18px;
        text-align: center;
    }
}